@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display');

:root {
  --text-color: lightblue;
  --base-color: rgb(31, 31, 43);
  --attack-color: orangered;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-family: 'Major Mono Display', sans-serif;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
}

h1 {
  text-align: center;
  margin-top: 30px;
  letter-spacing: 5px;
}

.boards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

table {
  border-collapse: collapse;
}

tr:first-child > td {
  border: none;
}

td {
  border: solid 1px var(--text-color);
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  text-transform: lowercase;
  font-weight: bold;
}

td.human {
  border: solid 7px var(--text-color);
}

td.hit {
  border: solid 7px var(--attack-color);
  color: var(--attack-color);
}

td:first-child {
  border: none;
}

.controls {
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  display: none;
}

.controls p {
  font-size: 20px;
  color: var(--attack-color);
  margin-bottom: 10px;
}

.controls button {
  font-weight: bold;
  background-color: var(--text-color);
  color: var(--base-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
}

.creator {
  text-align: center;
  margin: 30px 0;
}

.creator a {
  text-decoration: none;
  color: var(--attack-color);
  font-weight: bold;
  font-size: 30px;
}
