@import url('https://fonts.googleapis.com/css2?family=Radio+Canada');

:root {
  --text-color: #ebebeb;
  --base-color: #004e98;
  --primary-color: #ff6700;
  --secondary-color: #3a6ea5;
  --tertiary-color: #c0c0c0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-family: 'Radio Canada', sans-serif;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
}

table {
  border-collapse: collapse;
}

td {
  border: solid 1px var(--text-color);
  width: 30px;
  height: 30px;
  text-align: center;
}
